#Ignorar credenciales aws
/TerraformIaC/terraform.tfvars
#Ignorar ssh-key
/TerraformIaC/ssh_auth/*.pem
#Ignorar ssh_auth
/TerraformIaC/ssh_auth
#Ignorar .terraform
/TerraformIaC/.terraform/
#Ignorar directorio aws
/aws/
#Ignorar archivos pesados
/Kubernetes/minikube-linux-ammd64
Kubernetes/kubectl